@page "/habitats"
@using BlazorWasm.Shared
@using System.Text.Json;
@inject HttpClient Http

@attribute [Authorize]

<PageTitle>Tous les habitats</PageTitle>

<h1>Tous les habitats</h1>

    @if (habitat == null)
{
    <div class="d-flex flex-column align-items-center justify-content-center">
        <div class="d-flex flex-row">
            <div class="spinner-grow text-primary m-2" role="status"></div>
            <div class="spinner-grow text-success m-2" role="status"></div>
        </div>
        <div class="d-flex flex-ro5">
            <div class="spinner-grow text-danger m-2" role="status"></div>
            <div class="spinner-grow text-warning m-2" role="status"></div>
        </div>
    </div>
}
else if (habitat.Count() == 0)
{
    <div class="d-flex flex-column">
        <p class="text-center m-5 fs-3 fst-italic">Aucun habitat n'existe dans votre zoo!</p>
        <div class="card mx-auto" style="width: 18rem; overflow:hidden;">
            <img src="https://th.bing.com/th/id/R.738c412af61dc12d6c1f77c01d7b4ffb?rik=QJ2OC04jwCElsQ&riu=http%3a%2f%2ficons.iconarchive.com%2ficons%2fpaomedia%2fsmall-n-flat%2f1024%2fsign-add-icon.png&ehk=Nvs%2bq0fI7%2bINjO0YZVIyv5jtPJCfahnbTfVX4gjoXFE%3d&risl=&pid=ImgRaw&r=0" class="card-img-top" alt="Image d'un + pour ajouter un habitat" style="height: 200px;">
            <div class="card-body">
                <h4 class="card-title">Création</h4>
                <p class="card-text"><em>Cliquez sur Ajouter pour ouvrir le menu de création d'habitat</em></p>
                <a href="#" class="btn btn-primary">Ajouter</a>
            </div>
        </div>
    </div>
}
else
{
    <div class="d-flex justify-content-center align-items-center flex-wrap">

        <div class="card m-2" style="width: 18rem; overflow:hidden;">
            <img src="https://th.bing.com/th/id/R.738c412af61dc12d6c1f77c01d7b4ffb?rik=QJ2OC04jwCElsQ&riu=http%3a%2f%2ficons.iconarchive.com%2ficons%2fpaomedia%2fsmall-n-flat%2f1024%2fsign-add-icon.png&ehk=Nvs%2bq0fI7%2bINjO0YZVIyv5jtPJCfahnbTfVX4gjoXFE%3d&risl=&pid=ImgRaw&r=0" class="card-img-top" alt="Image d'un + pour ajouter un habitat" style="height: 200px;">
            <div class="card-body">
                <h4 class="card-title">Création</h4>
                <p class="card-text"><em>Cliquez sur Ajouter pour ouvrir le menu de création d'habitat</em></p>
                <a href="#" class="btn btn-primary">Ajouter</a>
            </div>
        </div>

        @foreach (Habitat h in habitat)
        {
            <div class="card m-2" style="width: 18rem; overflow:hidden;">
                <img src="@ImageSrc[h.Name]" class="card-img-top" alt="Photo de @h.Name" style="height: 200px; object-fit:cover;">
                <div class="card-body">
                    <h4 class="card-title">@Utils.Capitalize1stLetter(h.Name)</h4>
                    <a href="#" class="btn btn-primary">Modifier</a>
                </div>
            </div>
        }
    </div>

}

@code {
    private Habitat[]? habitat;
    private Dictionary<string, string> ImageSrc = new();

    protected override async Task OnInitializedAsync()
    {
        //await Task.Delay(2000);//pour simuler un long délai et voir le chargement
        habitat = await Http.GetFromJsonAsync<Habitat[]>("/Habitats");
        if (habitat != null)
        {
            foreach (var h in habitat)
            {
                var imgUrl = h.Pics.Count() == 0 ? "#" : $"https://localhost:7015/{h.Pics[0].Slug}";
                ImageSrc.Add(h.Name, imgUrl);                             
            }
        }
    }
}
